---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </nav>

		<h1>About My </h1>
        <h2>... and my new Astro site!</h2>

        <p>I am building this site with Astro.</p>

        <p>This site will update as I walkthrough the tutorial.</p>
	</body>
</html>
