---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPost = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Astro Learning Blog</h2>
  <p>This is where my I will post about my learning journey.</p>
  <ul>
    {allPost.map(post => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>
