---
import Social from "./Social.astro";
---
<style>
    ul {
        display: flex;
    }

    li {
        padding: 5px 15px;
        margin: 5px;
        border-radius: 15px;
        color: white;
        background-color: hsla(0, 4%, 5%, 0.233);
    }

    li:hover {
        background-color: rgba(107, 107, 42, 0.548);
    }
</style>

<footer>
  <p>Learn more about my projects on:</p>
  <ul>
    <li><Social platform="twitter" username="rajahwu" /></li>
    <li><Social platform="youtube" username="@rajahwu"/></li>
    <li><Social platform="github" username="rajahwu"/></li>
  </ul>
</footer>
