---
import Social from "./Social.astro";
---

<footer>
  <p>Learn more about my projects on:</p>
  <ul>
    <li><Social platform="twitter" username="rajahwu" /></li>
    <li><Social platform="youtube" username="@rajahwu"/></li>
    <li><Social platform="github" username="rajahwu"/></li>
  </ul>
</footer>
